*{
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}
div{
  background-color: grey;
  width: 100%;
 
}
h1{
  text-align: center;
}
button{
  size: 2px;
  background-color: lightblue;
  margin-right: 20px;
  padding: 8px 15px;
  font-size: large;
}